fastapi
uvicorn
# httpx
# requests
# torch
# diffusers
# transformers
# accelerate
# pydantic
# datasets
# pyngrok
# bitsandbytes
# sentencepiece
# protobuf
# einops
groq
# fastapi
# uvicorn
# groq
python-dotenv